<style>
  .image-trash {
	position: relative;
	display: inline-block;
}

.image-trash:hover .edit {
	display: block;
}

.edit {
	padding-top: 40%;	
	padding-right: 45%;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: red;
}
</style>
<!--Single Product Area Start-->
<section class="single-product-area mt-20">
  <div class="adminMain">
    {{#if flashMessage}}
    <div id="message" data-status="{{flashMessage.status}}" data-value="{{flashMessage.value}}"></div>
    {{/if}}
    <div class="container-fluid">
      <!--Single Product Info Start-->
      <div class="row mtb-20">

        <div class="single-product-info mb-50">
          <h2 class=" ml-15"><b>Edit Product</b></h2>

          <!--Single Product Image Start-->
          <!--Single Product Content Start-->
          <div class="col-md-12 col-sm-12">
            <div class="single-product-content">
              <!--form for product title start-->
              <form action="/admin-panel/product/info/update/{{product.id}}" method="POST">
                <h3 class=" mt-10">
                  <b> Title</b>
                  <div class="input-group">
                    <input type="text" placeholder="Enter Product Title" class="mt-10 form-control " name="title" id="title" value="{{product.title}}">
                    <span class="input-group-btn">
                      <button type="submit" class=" btn " style="background-color:transparent;padding-top:6px;" title="Save Title">
                        <i class=" fa fa-save" style="font-size:18px;"></i>
                      </button>
                    </span>
                  </div>
                </h3>
              </form>
              <!--form for product title end-->
            </div>

                <!--Product Price Start-->
                <div class="single-product-price mt-20 mb-10">
                  <!--form for product price start-->
                  <form action="" method="POST">
                <div class="input-group">
                  <h3 class="new-price"><b> Price</b>
                    <input type="text" class=" mt-10 form-control" placeholder="Enter Price" name="price" id="price" value="{{product.ProductPrices.0.price}}">
                  </h3>
                  <span class="input-group-btn">
                  <button class="btn" style="background-color:transparent;padding-top:18px;" title="Save Price">
                    <i class=" fa fa-save" style="font-size:18px;"></i>
                  </button>
                </span>
                </form>
                  <!--form for product price end-->
                </div>
              </div>
              <!--Product Price End-->
              <!--Product Description Start-->
              <div class="product-description">
                <p class=" text-justify">
                  <!--form for product Description start-->
                  <form action="/admin-panel/product/info/update/{{product.id}}" method="POST">
                    <h3><b> Description</b></h3>
                    <div class="input-group">
                      <textarea id="" cols="30" rows="10" placeholder="Enter Product Description" name="description" id="description">{{product.description}}</textarea>
                      <span class="input-group-btn">
                        <button type="submit" class=" btn " style="background-color:transparent;" title="Save Description">
                          <i class=" fa fa-save" style="font-size:18px;"></i>
                        </button>
                      </span>
                  </form>
                  <!--form for product Description ends-->
              </div>
              <!--form for product Tags start-->
              <form action="" method="POST">
                <h3 class=" mt-20"><b> Tags</b></h3>
                <div class="input-group">
                  <textarea id="" cols="30" rows="10" placeholder="Enter Tags" name="tags" id="tags"></textarea>
                  <span class="input-group-btn">
                    <button class=" btn " style="background-color:transparent;" title="Save Tags">
                      <i class=" fa fa-save" style="font-size:18px;"></i>
                    </button>
                  </span>
              </form>
              <!--form for product Tags ends-->
            </div>
            </p>
          </div>
          <!--Product Description End-->
          <!--Product Quantity Start-->
          <div class="single-product-quantity">
            <div class="quantity">
              <!--form for product Quantity start-->
              <form action="" method="POST">
                <h3><b>Quantity</b></h3>
                <div class="checkbox">
                  <label style="color:red;"><input type="checkbox" style="height:15px;width:15px;" name="outOfStock" id="outOfStock">
                    Out of Stock</label>
                </div>
                <div class="input-group">
                  <input class="form-control" style="" placeholder="Available Stock" value="" min="0" type="number"
                    name="qty" id="qty">
                  <span class="input-group-btn">
                    <button class="btn" type="submit" style="background-color:transparent;" title="Save Stock">
                      <i class=" fa fa-save" style="font-size:18px;"></i>
                    </button>
                  </span>
              </form>
              <!--form for product Quantity ends-->
            </div>
          </div>

        </div>
        <!--Product Quantity End-->

      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <h3 class=" mt-10 mb-10"><b>Add Images</b></h3>
      <!--form for product Images start-->
      <form action="" method="POST">
        <div class="row containerblah mb-20">
          {{#each product.ProductImages }}
          <div class="image-trash">
            <img src="/data/product/{{../product.id}}/{{this.id}}/150/150" alt="">
            <div class="edit"><a href="#" title="Delete"><i class="fa fa-trash fa-lg"></i></a></div>
          </div>
          {{/each}}
        </div>
        <button class=" form-button mtb-20" id="addImages">Add more images</button>

        <table id="imagesTable" style="width:100%">
          <tbody>
            <tr>
              <td>
                <input type="file" class="form-control" name="productImage">
              </td>
            </tr>
          </tbody>
        </table>
        <button class=" btn mb-30" id="" style="background-color:transparent;padding-top:17px;" title="Save Images">
          <i class=" fa fa-save" style="font-size:28px"></i>
        </button>
      </form>
      <!--form for product Images end-->
      <hr style="margin:0px">
      <br />
      <!--form for product Fabric start-->
      <form action="" method="POST">
        <h3 class=" mb-10"><b>Add Fabric</b></h3>
        <div class="checkbox">
          <label><input type="checkbox" style="height:15px;width:15px;" name="isNewFabric" id="isNewFabric">New</label>
        </div>
        <img src="/data/fabric/{{product.id}}/{{product.ProductFabric.id}}/100/100" alt="">
        <input type="text" id="fabricName" class=" form-control mb-20 mt-10" name="fabricName" id="fabricName"
          placeholder="Fabric Name">
        <input type="file" class="form-control" name="fabricImage">
        <button class=" btn mtb-30" id="" style="background-color:transparent;" title="Save Fabric">
          <i class=" fa fa-save" style="font-size:28px"></i>
        </button>
      </form>
      <!--form for product Fabric end-->
    </div>
    <!--Single Product Image End-->
    </form>
    <!--Single Product Content End-->
  </div>
  <!--Single Product Info End-->

</section>

<!--Single Product Area End-->
<script src="/js/custom/admin_product.js"></script>